<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style>
      html,body{
        background-color:white;
        text-align: center;
      }
    </style>
  <title>Error</title>
  </head>
  <body>
    <img id="error" src="assets/img/fae_404.jpg" alt= ":("/>
    <h3>Sorry. Nothing's here...</h3>
  </body>
</html>